/* ติดตั้ง Font ที่ใช้งานในโปรแกรม */
@import url("https://fonts.googleapis.com/css2?family=Noto%20Sans%20Thai:wght@400;500;600;700;800;900&display=swap");
/* กำหนดให้ใช้งาน Tailwind CSS ในโปรแกรมของเรา */
@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  background-image: url("./assets/bg.webp");
  background-size: cover;
  background-attachment: fixed; /* เวลา Scroll เม้าส์ลงมา รูปภาพ Background จะอยู่กับที่เมื่อเทียบกับ Viewpoint */
  position: relative; /* แสดงรูปภาพต่อจาก Component อื่น ๆ*/
  top: 0;
  left: 0;
  z-index: -1; /* กำหนดให้แสดงรูปภาพ Background ต่ำกว่า Component อื่น ๆ */
  width: 100%;
  height: 100%; /* กำหนดให้แสดงขนาดความสูงของรูป Background ตามขนาดจริงเสมอ */
  padding-top: 10%; /* กำหนดตำแหน่งแสดงข้อความ */
  padding-right: 50px;
  color: #fff;
}

.register {
  background-image: url("./assets/register_background.jpg");
  background-size: cover;
  background-attachment: scroll; /* เวลา Scroll เม้าส์ลงมา รูปภาพ Background จะเลื่อนตามมาด้วย */  
  width: 100%;
  height: auto; /* เพื่อให้รูป Background สามารถปรับขนาดตามความสูงของแบบฟอร์มได้โดยอัตโนมัติ */
}

.login {
  background-image: url("./assets/log_in.jpg");
  background-size: cover;
  background-attachment: scroll; /* เวลา Scroll เม้าส์ลงมา รูปภาพ Background จะเลื่อนตามมาด้วย */  
  width: 100%;
  height: auto; /* เพื่อให้รูป Background สามารถปรับขนาดตามความสูงของแบบฟอร์มได้โดยอัตโนมัติ */
}

/* ถ้าหน้าจอเล็กลงกว่า 1024px จะปรับรูปภาพ Background ตามนี้ */
@media screen and (max-width: 1024px) {
  .hero {
    background-position: center;
    padding-top: 15%;
    height: 100dvh;
  }
}
