/* ติดตั้ง Font ที่ใช้งานในโปรแกรม */
@import url("https://fonts.googleapis.com/css2?family=Noto%20Sans%20Thai:wght@400;500;600;700;800;900&display=swap");
/* กำหนดให้ใช้งาน Tailwind CSS ในโปรแกรมของเรา */
@tailwind base;
@tailwind components;
@tailwind utilities;

.register {
  background-image: url("./assets/register_background.jpg");
  background-size: cover;
  background-attachment: scroll; /* เวลา Scroll เม้าส์ลงมา รูปภาพ Background จะเลื่อนตามมาด้วย */
  width: 100%;
  height: auto; /* เพื่อให้รูป Background สามารถปรับขนาดตามความสูงของแบบฟอร์มได้โดยอัตโนมัติ */
}

.login {
  background-image: url("./assets/log_in.jpg");
  background-size: cover;
  background-attachment: scroll; /* เวลา Scroll เม้าส์ลงมา รูปภาพ Background จะเลื่อนตามมาด้วย */
  width: 100%;
  height: auto; /* เพื่อให้รูป Background สามารถปรับขนาดตามความสูงของแบบฟอร์มได้โดยอัตโนมัติ */
}

/* ถ้าหน้าจอเล็กลงกว่า 1024px จะปรับรูปภาพ Background ตามนี้ */
@media screen and (max-width: 1024px) {
  .hero {
    background-position: center;
    padding-top: 15%;
    height: 100dvh;
  }
}
